{% extends 'admin/base.html.twig' %}

{% block title %}联系我们{% endblock %}

{% block content %}
<div {{ vue_component('admin/ContactUsPage', {
    'adminLoginPath': app.request.get('adminLoginPath')
}) }}></div>
{% endblock %}