{% extends 'admin/base.html.twig' %}

{% block title %}会员对账单{% endblock %}

{% block body %}
<div {{ vue_component('admin/MemberStatementList', {
    'adminLoginPath': adminLoginPath
}) }}></div>
{% endblock %}
