{% extends 'admin/base.html.twig' %}

{% block title %}供应商介绍{% endblock %}

{% block content %}
<div class="admin-content">
    <h1>供应商介绍</h1>
    <div id="supplier-page-app"></div>
</div>
{% endblock %}